.file-upload {
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    button {
      padding: 10px 20px;
      background-color: #18d2fc;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: larger;
    }

    & .logout {
      padding: 10px 20px;
      background-color: rgba(220, 20, 60, 0.796);
    }
    & .logout:hover {
      background-color: #3187f8;
    }
  }
}
